// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import 'utils/variables';
@import 'utils/fonts';
@import 'utils/mixins';
@import 'utils/global';
@import 'components/profiles';

body {
    background: $gray-lightest;
    margin: 50px 0 100px;

    @include lato(300);
}

em {
    color: $gray-dark;
}

ul {
    margin-bottom: 0;
}

section {
    margin-bottom: $unit * 2;
}

blockquote {
    margin: 0;
    margin-bottom: $unit;
}