{{#if resume.education.length}}
<div class="education-container">
    {{> title value="Education"}}

    {{#each resume.education}}
        <section class="education-item">
            {{> section-header name=this.institution }}
            <h4>{{#if studyType}}{{studyType}} {{/if}}{{#if area}}{{area}}{{/if}}</h4>

            {{#if gpa}}
            <h5>{{gpa}}</h5>
            {{/if}}

            {{#if courses.length}}
            <ul class="minimal">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}