{{#if resume.languages.length}}
    <div class="container languages-container">
        {{> title value="Languages"}}

        <ul class="minimal">
            {{#each resume.languages}}
                <li>
                    {{name}} {{#if level}}<em>({{level}})</em>{{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}