<div class="container pdf-button-container">
  <form action="/api/download-pdf" method="POST">
    <button class="pdf-button" type="submit">
        <h2>Download Pdf</h2>
    </button>
  </form>
</div>
