<div class="container pdf-button-container">
 <form className="navbar-form navbar-right" role="search" action="/stuff" method="GET">
        <button type="submit" className="btn btn-nav">Login</button>
  </form>
</div>
