<div class="container" id ="pdf-button-container">
  <form action="/api/download-pdf" method="get">
    <button class="pdf-button" type="submit" onclick="getPdf()">Download Pdf</button>
  </form>
</div>
