<div class="container pdf-button-container">
 <form className="navbar-form navbar-right" role="search" action="/api/downloadPdf/" method="GET">
        <button type="submit" className="btn btn-nav">Download Pdf</button>
  </form>
</div>
