{{#if resume.projects.length}}
<div class="container work-container">
  {{> title value="Projects"}}

  {{#each resume.projects}}
  <section class="item">
    {{> section-header name=this.name }}

    {{#if entity}}
      <h4>{{entity}}</h4>
    {{/if}}

    {{#if description}}
      <p class="summary">{{description}}</p>
    {{/if}}

    {{#if roles.length}}
      <h6>Roles</h6>
      <ul>
        {{#each roles}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if highlights.length}}
      <h6>Highlights</h6>
      <ul>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
