{{#resume.basics}}
    {{#if summary}}
        <div class="container summary-container">
            {{> title value="Summary"}}
            <p class="summary">
                {{summary}}
            </p>
        </div>
    {{/if}}
{{/resume.basics}}