.resume-header {
    @include clearfix();
}

.section-header {
    a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
            color: $link-color;
        }

        .fa {
            font-size: 10px;
            vertical-align: text-top;
        }
    }
}