body {
  @include poppins();
  @include Nunito();

  background: $gray-lightest;
  margin: 50px 0 100px;
  letter-spacing: .3px;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  @include poppins(700);
  @include font-size(10);
  letter-spacing: 1px;
  margin-bottom: spacing(1);
  color: #B5E8E0;
}

h2 {
  @include poppins(300);
  @include font-size(4);
  letter-spacing: .5px;
  color: #F8BD96;
}

h3 {
  @include Nunito(300);
  @include font-size(3.5);
  letter-spacing: .4px;

  &.bold {
    font-weight: 700;
  }

  color: #C9CBFF;
}

h4 {
  @include poppins(300);
  @include font-size(3);

  &.bold {
    font-weight: 700;
  }
  color: #F2CDCD;
}

h5 {
  @include Nunito(300);
  @include font-size(2.75);

  &.italic {
    font-style: italic;
  }

  color: #F5C2E7;
}

h6 {
  @include Nunito();
  @include font-size(2.5);
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $link-color;
  }

  .fa-external-link {
    font-size: 10px;
    vertical-align: text-top;
  }

  color: #F5E0DC;

}

p,
li {
  @include font-size(2.75);
}

blockquote {
  @include font-size(2.75);
  @include Nunito(2.45);

  margin: spacing(2) spacing(5);
}

em {
  color: $gray-dark;
}

ul {
  margin: spacing(2) 0 0;
  -webkit-padding-start: spacing(5);

  li {
    padding-left: spacing(2);
  }

  &.minimal {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 3px;
      padding-left: 0;
    }
  }

  &.two-column {
    -webkit-column-count: 2;
    -webkit-column-gap: spacing(5.6);
    column-count: 2;
    column-gap: spacing(5.6);

    li {
      padding-left: 0;
    }
  }
}

@page {
  size: us-letter;
}
