@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');



// Font Mixins

// Poppins - 300, 400, 700; Italics
@mixin poppins($weight: 400, $isItalic:false) {
  font-family: $primary-font;
  font-weight: $weight;

  @if $isItalic==true {
    font-style: italic;
  }
}

// Josefin - 300, 400, 600, 700
@mixin Nunito($weight: 400) {
  font-family: $secondary-font;
  font-weight: $weight;
}
