.header {
    @include clearfix();
}

.profile-pic {
    margin-top: -5px;
    margin-right: 18px;

    img {
        height: $profile-pic-size;
        width: $profile-pic-size;
        border-radius: 50%;
        border: 2px solid $primary-color;
    }
}