#basics {
    margin-bottom: -10px;
}
#basics h3 {
    margin-top: 1.5em;
}
#basics .contact strong,
#location strong {
    clear: both;
    float: left;
    line-height: 1.3;
    width: 120px;
}
#profiles,
#skills {
    overflow: hidden;
}
#profiles .item,
#skills .item {
    float: left;
    width: 50%;
}

