<div id="resume" class="page">
	{{> resume-header}}
	<div class="resume-content">
		<aside class="left-column">
			{{> about }}
			{{> skills }}
			{{> languages }}
			{{> interests }}
		</aside>
		<div class="right-column">
			{{> summary}}
			{{> work }}
			{{> volunteer }}
			{{> education }}
			{{> awards }}
			{{> publications }}
			{{> references }}
		</div>
	</div>
</div>
