.keyline {
    width: spacing(9);
    margin: 8px 0 10px;
    border-top: 1px solid $primary-color;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

@page {
    size: A4;
}

@media print {
    body {
        margin: 0;
    }

    .page {
        h1 {
            font-size: 40px * 1.25;
        }
        width: $print-width;
        height: $print-height;
        box-shadow: 0;
    }
}