/*----- Colors -----*/

$gray-darkest           : #161320;
$gray-darker            : #1A1826;
$gray-dark              : #1E1E2E;
$gray                   : #302D41;
$gray-light             : #575268;
$gray-lighter           : #988BA2;
$gray-lightest          : #C3BAC6;

$white           : #D9E0EE;
$red           : #E8A2AF;

$primary-color          : $red;
$secondary-color        : $white;

$link-color             : #F2CDCD;

/*----- Fonts -----*/

$primary-font               : 'Poppins', sans-serif;
$secondary-font             : 'Nunito', sans-serif;

/*----- Dimensions and sizes -----*/

$print-width            : 21cm;
$print-height           : 29.7cm;
$page-width             : 612px;
$page-height            : 792px;

$mobile-width           : 435px;
$tablet-width           : 768px;
$laptop-width           : 992px;
$desktop-width          : 1200px;
$retina-width           : 1920px;

$font-unit              : 4px;
$profile-pic-size       : 52px;
$aside-width            : 160px;
$aside-margin           : 20px;
$pad-unit               : 5px;
