<!doctype html>
<!-- this file is for rendering to browser -->
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		{{{css}}}
	</style>
	</head>
	<body>
		{{> resume-template }}
		{{> pdf-button }}
	</body>
</html>
